.product{
    box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
    border-radius: 5px;
}
.price p{
    color: #71BA58;
    font-size: 20px;
    font-weight: bold;
}
.button{
    background-color: #71BA58;
    color: #ffff;
    border-radius:5px;
    border: none;
    padding: 10px;
}